@import "../../styles/vars";

.recipes {
  padding: 0 15px 100px;

  &__inner {
    display: flex;

    &-content {
      max-width: 870px;
      margin-left: 30px;

      &__cheese {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba($darkGrey, .1);

        .box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 15px;
          width: 100%;
        }
      }

      &__added {
        margin-bottom: 30px;

        .title {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          color: $brown;
        }

        .box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 15px;
          width: 100%;
        }
      }

      &__button {
        text-align: center;

        button {
          background: $orange;
          border-radius: 5px;
          border: none;
          padding: 12px 55px;
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 1200px) {

  .recipes__inner-content {
    margin-left: 0;
  }
}

@media (max-width: 890px) {
  .recipes__inner-content__cheese,
  .recipes__inner-content__added {
    .title {
      text-align: center;
    }

    .box {
      justify-content: center;
    }
  }
}