@import "src/styles/vars";

.category {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &-title {
      @include h2;
      color: $brown;
    }

    &-filter__toggle {
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #292929;
      background-color: transparent;
      padding: 10px 20px 10px 12px;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      width: 144px;

      &.active {
        color: $white;
        background-color: $brown;
      }

      svg {
        margin-right: 24px;
      }
    }
  }

  &__filters {
    background: rgba(253, 147, 57, 0.1);
    border: 1px solid rgba(253, 147, 57, 0.2);
    border-radius: 5px;
    padding: 16px 20px 0 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &-list {
      display: flex;

      &__filter + &__filter {
        margin-left: 30px;
      }

      &__filter {
        position: relative;;

        .title {
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          padding-bottom: 16px;

          svg {
            margin-left: 9px;
          }
        }

        &:hover {
          .dropdown-list {
            display: block;
          }
        }

        .dropdown-list {
          position: absolute;
          background: #FFFFFF;
          box-shadow: 0 2px 18px rgba(102, 79, 0, 0.1);
          border-radius: 5px;
          z-index: 1;
          width: 240px;
          left: -20px;
          top: 35px;
          display: none;
          transition: .3s;

          &.active {
            display: block;
          }

          &.quality-filter {
            width: 250px;
          }

          &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            padding: 20px 20px 12px 20px;
            border-bottom: 1px solid rgba($darkGrey, .1);
            margin-bottom: 20px;
          }

          &__filters {
            padding: 0 20px;

            &-filter {
              display: flex;
              align-items: center;
              font-size: 15px;
              line-height: 20px;
              color: $darkGrey;
              margin-bottom: 16px;
            }
          }

          &__button {
            padding: 0 20px 20px 20px;

            button {
              background: $white;
              border: 1px solid #4E2D2D;
              border-radius: 5px;
              padding: 6px 0;
              width: 100%;
              cursor: pointer;
              font-weight: 700;
              font-size: 14px;
              line-height: 24px;
              text-align: center;
              color: $brown;
            }
          }

          &.price-filter {

            .dropdown-list__filters {

              &-filter {
                padding-top: 16px;
                border-top: 1px solid rgba($darkGrey, .1);
              }
            }
          }
        }
      }
    }

    &-is__available {
      display: flex;
      align-items: center;
      padding-bottom: 16px;

      input[type=checkbox] {
        background-color: transparent;
      }
    }
  }

  &__added-filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
    }

    &__reset {

      button {
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
        color: $brown;
      }
    }
  }

  &__inner {
    display: flex;

    &-content {
      width: 880px;
      margin-left: 20px;

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        div {
          margin-bottom: 15px;
        }
      }
    }
  }
}