@import "../../styles/vars";

.sign-in {
  background: $white;
  border: 1px solid rgba(230, 230, 230, 0.2);
  border-radius: 8px;
  display: flex;
  margin-bottom: 44px;

  &__form {
    padding: 40px 55px 30px;
    width: 590px;

    form {
      font-size: 16px;
      line-height: 24px;

      input {
        margin: 6px 0 20px;
        border: 1px solid #E6E6E6;
        border-radius: 6px;
        padding: 13px 0 11px 14px;
        width: 100%;
        outline: none;
        font-size: 15px;
        line-height: 24px;

        &::placeholder {
          color: #BFBFBF;
        }
      }
    }

    &-accounts {

      .title {
        font-size: 16px;
        line-height: 24px;
        color: $darkGrey;
        opacity: 0.5;
        text-align: center;
        margin-bottom: 17px;
      }

      .services {
        display: flex;
        justify-content: center;
        margin-bottom: 114px;

        .icon + .icon {
          margin-left: 15px;
        }
      }
    }

    &-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      text-decoration-line: underline;
      color: $orange;
    }
  }

  &__register {
    background: #FDF2D8;
    width: 590px;
    padding: 218px 55px;
    text-align: center;

    &-text {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 40px;
    }

    &-link {
      text-align: center;

      a {
        border: 1px solid #FD9339;
        border-radius: 5px;
        padding: 12px 47px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $orange;
      }
    }
  }
}

@media (max-width: 1215px) {
  .sign-in {
    display: block;
  }
}

@media (max-width: 635px) {
  .sign-in {

    &__form {
      width: 480px;

      &-title {
        margin-bottom: 20px;
      }

      &-accounts {

        .services {
          margin-bottom: 50px;
        }
      }
    }

    &__register {
      width: 480px;
    }
  }
}

@media (max-width: 520px) {
  .sign-in {

    &__form {
      width: 380px;

      &-title {
        font-size: 23px;
        line-height: 30px;
      }
    }

    &__register {
      width: 380px;
      padding: 118px 55px;

      &-title {
        font-size: 23px;
        line-height: 30px;
      }
    }
  }
}

@media (max-width: 420px) {
  .sign-in {

    &__form {
      form {
        input {
          padding: 7px 0 7px 14px;
        }

        button {
          padding: 6px 0;
        }
      }
    }

    &__form,
    &__register {
      width: 300px;

      &-title {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .sign-in__register-link a {
    padding: 12px 20px;
  }
}