@import "../../styles/vars";

.header {
  border-bottom: 1px solid #F4F0E6;
  position: fixed;
  top: 0;
  background-color: #FFFBED;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &__inner {

  }

  .vertical {
    background-color: #F4F0E6;
    width: 1px;
    height: 56px;
    margin: 0 24px;
  }

  .horizontal {
    background-color: #F4F0E6;
    width: 100%;
    height: 1px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    padding: 11px 0;

    div {
      display: flex;
    }

    &-address {
      color: $black;
      padding-right: 23px;
      display: flex;
      align-items: center;

      .location-icon {
        margin-right: 5px;
      }

      .arrow-down-icon {
        margin-left: 5px;
      }
    }

    &-schedule {

      .clock-icon {
        margin-right: 11px;
      }
    }

    &-links {
      min-width: 520px;
      justify-content: space-between;
    }

    &-login {
      display: flex;
      justify-content: center;
      align-items: center;

      .user-profile-icon {
        margin-right: 4px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      width: 231px;
      height: 42px;
      margin-right: 42px;
    }

    &-advantages {
      display: flex;
      align-items: center;
    }

    &-advantage {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 16px;
      color: $darkGrey;
      position: relative;

      &.delivery {
        width: 116px;
      }

      &.discount {
        width: 139px
      }

      &.safety {
        width: 116px;
      }

      & + & {
        margin-left: 18px;
      }

      img {
        width: 28px;
        height: 28px;
        margin-right: 11px;
      }

      &__hover {
        display: none;
        position: absolute;
        top: 45px;
        left: -45px;
        z-index: 10;
        background: rgb(41, 41, 41);
        width: 244px;
        border-radius: 4px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $white;
        padding: 8px 12px;

        .fragment {
          width: 12px;
          height: 12px;
          position: absolute;
          background: rgb(41, 41, 41);
          left: 105px;
          top: -5px;
          transform: rotate(45deg);
        }
      }
    }

    &-contacts {
      display: flex;
      align-items: center;

      &__social {
        a + a {
          margin-left: 16px;
        }
      }

      &__phone {
        margin-left: 21px;
        max-width: 136px;
        text-align: center;

        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: $brown;
        }

        button {
          background-color: transparent;
          font-size: 12px;
          line-height: 18px;
          border: 1px solid #FD9339;
          color: $orange;
          padding: 6px 6px 6px 26px;
          border-radius: 4px;
          cursor: pointer;

          &::before {
            content: '';
          }
        }
      }
    }

    &-basket {
      display: flex;
      align-items: center;

      &__price {
        margin-right: 12px;

        span {
          display: block;
          text-align: right;
          color: $orange;
          font-weight: 700;
        }
      }

      .basket-image {
        position: relative;
        cursor: pointer;

        &__circle {
          position: absolute;
          width: 16px;
          height: 16px;
          top: -4px;
          right: -6px;
          border-radius: 50%;
          background-color: $orange;
          font-size: 12px;
          line-height: 16px;
          color: $white;
          text-align: center;
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &-links {
      position: relative;

      &__recipe {
        position: relative;
        margin-right: 34px;

        .arrow-down {
          position: absolute;
          top: 6px;
          right: -17px;
        }
      }

      a + a {
        margin-left: 20px;
      }

      &__list {
        background-color: $white;
        border-radius: 5px;
        width: 220px;
        position: fixed;
        top: 200px;
        left: 302px;
        display: none;

        &:hover {
          &.dropdown-list {
            display: block;
          }
        }

        &.dropdown-list {
          display: block;
        }

        a {
          font-size: 14px;
          line-height: 24px;
          padding: 10px 16px;
          display: block;
          transition: all .5s;
          width: 100%;

          &:hover {
            background: #FFF1DB;
            color: $orange;
          }
        }
      }
    }

    &-search {
      display: flex;
      align-items: center;

      .vertical {
        height: 30px;
      }

      .search-icon {
        margin-right: 12px;
      }

      input {
        width: 252px;
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
          color: $darkGrey;
        }
      }
    }
  }
}

.header__info-advantage.delivery:hover {

  .header__info-advantage__hover.delivery {
    display: block;
  }
}

.header__info-advantage.discount:hover {

  .header__info-advantage__hover.discount {
    display: block;
  }
}

.header__info-advantage.safety:hover {

  .header__info-advantage__hover.safety {
    display: block;
  }
}