@import "../../styles/vars";

.collections {
  padding-bottom: 100px;

  &__inner {
    display: flex;

    &-content {
      max-width: 870px;
      margin-left: 80px;
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-collection {
      max-width: 426px;
      background: $white;
      border: 1px solid #E7E7E7;
      border-radius: 6px;
      padding: 14px 20px 16px 20px;
      margin-top: 20px;

      &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 24px;
        color: $orange;
        padding-left: 11px;
        position: relative;

        .text::before {
          content: '';
          position: absolute;
          width: 7px;
          height: 7px;
          background-color: $orange;
          border-radius: 50%;
          left: 0;
          top: 17px;
        }
      }

      &__image {
        margin-bottom: 16px;
        width: 100%;
      }

      &__text {
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: $darkGrey;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
        margin-bottom: 16px;
        transition: all 1s;

        &:hover {
          color: $orange;
        }
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-size: 22px;
          line-height: 34px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .collections__inner-content {
    margin-left: 15px;
  }
}

@media (max-width: 1200px) {
  .collections {
    padding: 0 15px;

    &__title {
      text-align: center;
    }

    &__inner-content {
      margin-left: 0;
    }
  }
}

@media (max-width: 900px) {
  .collections__group {
    justify-content: center;
  }
}