@import '_vars.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $black;
  background-color: #FFFBED;
  padding-top: 221px;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}