@import "../../styles/vars";

.sign-up {
  display: flex;
  background-color: $white;
  border: 1px solid rgba(230, 230, 230, 0.2);
  border-radius: 8px;
  margin-bottom: 44px;

  &__info {
    width: 590px;
    background-color: #FDF2D8;
    padding: 40px 55px 84px 40px;

    &-text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 52px;
    }

    &-benefit {
      & + & {
        margin-top: 30px;
      }

      .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }

      .text {
        font-size: 14px;
        line-height: 22px;
        color: #666666;
      }
    }
  }

  &__form {
    width: 590px;
    padding: 40px 55px 0;

    form {
      .name,
      .email {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 6px;

        input {
          border: 1px solid #E6E6E6;
          border-radius: 6px;
          padding: 13px 0 11px 14px;
          width: 100%;
          outline: none;

          &::placeholder {
            font-size: 15px;
            line-height: 24px;
            color: #BFBFBF;
          }
        }
      }

      .password {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        input {
          border: 1px solid #E6E6E6;
          border-radius: 6px;
          padding: 13px 0 11px 14px;
          outline: none;
          width: 232px;
          margin-top: 6px;
        }
      }
    }

    &-accounts {
      .top {
        font-size: 16px;
        line-height: 24px;
        color: $darkGrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;

        &::before,
        &::after {
          content: '';
          width: 210px;
          height: 1px;
          color: $darkGrey;
        }
      }

      .services {
        display: flex;
        justify-content: center;
        margin-bottom: 37px;

        .icon + .icon {
          margin-left: 15px;
        }
      }

      .agreements {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
        margin-bottom: 20px;

        &__agreement {
          font-size: 13px;
          line-height: 20px;
          color: #686868;
          display: flex;
          margin-bottom: 12px;

          a {
            text-decoration: underline;
            color: $orange;
          }

          input {
            margin-right: 10px;
          }
        }
      }
    }

    &-link {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $brown;

      a {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
}

.input__error-message {
  color: red;
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 1215px) {
  .sign-up {
    display: block;

    &__form-link {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 635px) {
  .sign-up {

    &__info {
      width: 480px;
    }

    &__form {
      width: 480px;

      form {
        .password {
          display: block;

          &__enter {
            margin-bottom: 20px;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .sign-up {

    &__info {
      width: 380px;

      &-title {
        font-size: 26px;
        line-height: 36px;
      }

      &-text {
        margin-bottom: 40px;
      }
    }

    &__form {
      width: 380px;
    }
  }
}

@media (max-width: 420px) {
  .sign-up {

    &__info {
      width: 300px;

      &-title {
        font-size: 19px;
        line-height: 28px;
      }
    }

    &__form {
      width: 300px;
    }
  }
}