@import "../../styles/vars";

.selections {
  padding-bottom: 160px;

  &__title {
    @include h2;
    color: $brown;
  }

  &__items {
    display: flex;
    justify-content: space-between;

    &-recipes {
      margin-right: 20px;
    }

    &-recipes__bg,
    &-sets__bg {
      z-index: -1;
    }

    &-recipes__title,
    &-sets__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
      text-transform: uppercase;
      color: $brown;
      max-width: 267px;
      margin: -323px 0 20px 40px;
    }

    &-recipes__text,
    &-sets__text {
      font-size: 16px;
      line-height: 21px;
      color: #000000;
      margin-bottom: 90px;
      max-width: 229px;
      margin-left: 40px;
    }

    &-recipes__link,
    &-sets__link {
      padding: 10px 35px;
      font-size: 16px;
      line-height: 24px;
      background-color: $orange;
      border-radius: 5px;
      color: $white;
      margin-left: 40px;
    }

    &-sets__title {
      color: $white;
    }

    &-sets__text {
      color: $white;
      max-width: 258px;
    }

    &-sets__link {

    }
  }
}