@import "../../styles/vars";

.selections {
  padding-bottom: 160px;

  &__title {
    @include h2;
    color: $brown;
  }

  &__items {
    display: flex;
    justify-content: space-between;

    &-recipes {
      margin-right: 20px;
    }

    &-recipes__bg,
    &-sets__bg {
      z-index: -1;
    }

    &-recipes__title,
    &-sets__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
      text-transform: uppercase;
      color: $brown;
      max-width: 267px;
      margin: -323px 0 20px 40px;
    }

    &-recipes__text,
    &-sets__text {
      font-size: 16px;
      line-height: 21px;
      color: #000000;
      margin-bottom: 90px;
      max-width: 229px;
      margin-left: 40px;
    }

    &-recipes__link,
    &-sets__link {
      padding: 10px 35px;
      font-size: 16px;
      line-height: 24px;
      background-color: $orange;
      border-radius: 5px;
      color: $white;
      margin-left: 40px;
    }

    &-sets__title {
      color: $white;
    }

    &-sets__text {
      color: $white;
      max-width: 258px;
    }

    &-sets__link {

    }
  }
}

@media (max-width: 1200px) {
  .selections {
    padding: 0 15px 160px 15px;

    &__title {
      text-align: center;
      margin-bottom: 15px;
    }

    &__items {
      max-width: 1180px;
      justify-content: center;
      flex-wrap: wrap;

      &-recipes {
        margin: 0 0 90px 0;
      }
    }
  }
}

@media (max-width: 630px) {
  .selections__items-recipes {
    margin: 0 0 50px 0;
  }

  .selections__items-recipes__bg,
  .selections__items-sets__bg, {
    width: 490px;
  }

  .selections__items-recipes__title,
  .selections__items-sets__title {
    margin: -280px 0 20px 40px;
  }
}

@media (max-width: 535px) {
  .selections__items-recipes__bg,
  .selections__items-sets__bg, {
    width: 300px;
  }

  .selections__items-recipes__title, .selections__items-sets__title {
    margin: -177px 0 0px 20px;
    max-width: 245px;
    font-size: 20px;
  }

  .selections__items-recipes__text, .selections__items-sets__text {
    margin-bottom: 13px;
    margin-left: 20px;
  }

  .selections__items-recipes__link,
  .selections__items-sets__link {
    margin-left: 20px;
  }
}

@media (max-width: 360px) {
  .selections__title {
    font-size: 24px;
  }
}