@import "src/styles/vars";

.header__info-basket {
  display: flex;
  align-items: center;

  &__price {
    margin-right: 12px;

    span {
      display: block;
      text-align: right;
      color: $orange;
      font-weight: 700;
    }
  }

  .basket-image {
    position: relative;

    .basket-icon {
      cursor: pointer;
      transition: all .3s;

      &:hover {
        opacity: .3;
      }

      &:hover ~ .basket {
        display: block;
      }
    }

    &__circle {
      position: absolute;
      width: 16px;
      height: 16px;
      top: -4px;
      right: -6px;
      border-radius: 50%;
      background-color: $orange;
      font-size: 12px;
      line-height: 16px;
      color: $white;
      text-align: center;
    }
  }
}

.basket {
  min-width: 460px;
  background-color: $white;
  padding-bottom: 30px;
  position: absolute;
  top: 36px;
  right: -70px;
  border-radius: 6px;
  display: none;
  transition: all .3s;

  &:hover {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    text-transform: uppercase;
    color: $brown;
    padding: 30px 0 30px 20px;
    border-bottom: 1px solid #E7E7E7;

    .fragment {
      width: 20px;
      height: 10px;
      background-color: $white;
      transform: rotate(127deg);
      position: absolute;
      top: 0;
      right: 80px;
    }
  }

  &__items {
    padding: 24px 30px 8px;

    &-item {
      margin-bottom: 24px;
      border-bottom: 1px solid #E7E7E7;
      display: flex;
      padding-bottom: 24px;
      position: relative;

      &__image {
        border: 1px solid #E7E7E7;
        border-radius: 5px;
        margin-right: 20px;
        width: 92px;
        height: 92px;
      }

      &__box {

        .basket__box-title {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 14px;
          max-width: 240px;
          margin-right: 28px;
        }
      }

      &__remove {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
      }

      &__price {
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        position: absolute;
        bottom: 24px;
        right: 0;
      }
    }
  }

  &__total {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 22px;
    padding: 0 30px;

    &-amount {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    &-price {
      display: flex;
      justify-content: space-between;
    }
  }
}