@import "src/styles/vars";

.login {
  width: 410px;
  padding: 20px 0 16px;
  background: $white;
  border: 1px solid rgba(229, 229, 229, 0.5);
  border-radius: 5px;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $brown;
    padding: 0 0 20px 30px;
    border-bottom: 1px solid #E6E6E6;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      opacity: .5;
    }
  }

  &__form {
    padding: 20px 30px 30px 30px;
    border-bottom: 1px solid #E6E6E6;
    font-size: 16px;
    line-height: 24px;

    .input__error-message {
      color: red;
      text-decoration: underline;
      font-size: 14px;
      margin-bottom: 20px;
    }

    input {
      margin-top: 6px;
      border: 1px solid #E6E6E6;
      border-radius: 6px;
      outline: none;
      padding: 13px 0 11px 14px;
      width: 100%;

      &::placeholder {
        font-size: 15px;
        line-height: 24px;
        color: #BFBFBF;
      }
    }

    button {
      background: $orange;
      border-radius: 5px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      border: none;
      cursor: pointer;
      width: 100%;
      padding: 12px 0;
      margin-bottom: 28px;

      &:hover {
        opacity: .7;
      }
    }

    &-link {
      text-align: center;

      a {
        color: $orange;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
      }
    }
  }

  &__link {
    padding: 16px 30px 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $brown;

    a {
      color: $orange;
      text-decoration: underline;
    }
  }
}