@import "../../styles/vars";

.checkout {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;

  &__info {
    max-width: 780px;
    margin-right: 20px;

    &-title {
      @include h2;
      margin-bottom: 24px;
      color: $brown;
    }

    &-contacts {
      padding: 30px 30px 40px;
      background: $white;
      border: 1px solid rgba(229, 229, 229, 0.5);
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;

      &__title {
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        color: $brown;
        border-bottom: 1px solid rgba(229, 229, 229, 0.5)
      }

      &__inputs {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
      }

      &__input {

        & + & {
          margin-left: 20px;
        }

        input {
          border: 1px solid #E6E6E6;
          border-radius: 6px;
          margin-top: 6px;
          padding: 13px 0 11px 14px;
          width: 350px;
        }
      }
    }

    &-order {
      background: $white;
      border: 1px solid rgba(229, 229, 229, 0.5);
      border-radius: 5px;
      padding: 30px 30px 10px;
      margin-bottom: 10px;


      &__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        color: $brown;

        .total-amount {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
        }

        .total-price {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &__products {

      }

      &__product {
        padding: 30px 0;
        border-top: 1px solid rgba(229, 229, 229, 0.5);
        display: flex;

        img {
          margin-right: 20px;
        }

        .info {
          max-width: 300px;
          font-size: 16px;
          line-height: 22px;
          margin-right: 72px;

          &__title {

          }

          &__vendor-code {
            color: darkGrey;
            margin-bottom: 10px;
          }

          &__remove {
            text-decoration: underline;
            color: $orange;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .price {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          margin-left: 65px;
        }
      }
    }

    &-delivery {
      background: $white;
      border: 1px solid rgba(229, 229, 229, 0.5);
      border-radius: 5px;
      padding: 30px 30px 40px;
      margin-bottom: 10px;

      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $brown;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(128, 128, 128, .5);
      }

      &__types {
        padding: 20px 0 25px;

        .free {

        }

        .courier {

        }
      }

      &__type {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .input-radio {
          margin-right: 10px;
        }
      }

      &__data {

        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $brown;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(128, 128, 128, .5);
        }

        .inputs {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .input {
            max-width: 350px;
            width: 100%;

            .text {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 6px;
            }

            input {
              padding: 13px 0 11px 14px;
              border: 1px solid #E6E6E6;
              border-radius: 6px;
              width: 100%;
              font-size: 15px;
              line-height: 24px;
              outline: none;

              &::placeholder {
                color: #BFBFBF;
              }
            }
          }
        }

        .selects {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .select {
            max-width: 350px;
            width: 100%;

            .text {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 6px;
            }

            select {
              padding: 13px 0 11px 14px;
              border: 1px solid #E6E6E6;
              border-radius: 6px;
              width: 100%;
            }
          }
        }
      }

      &__privacy {
        display: flex;
        align-items: center;

        .checkbox {
          margin-right: 10px;
        }

        .text {
          font-size: 14px;
          line-height: 20px;
          color: #686868;

          a {
            text-decoration: underline;
            color: $orange;
          }
        }
      }
    }

    &-payment {
      background: $white;
      border: 1px solid rgba(229, 229, 229, 0.5);
      border-radius: 5px;
      padding: 30px 30px 40px;

      &__title {
        font-size: 20px;
        line-height: 24px;
        color: $brown;
        font-weight: 700;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(229, 229, 229, 0.5);
      }

      &__methods {
        padding-top: 20px;
      }

      &__method {
        display: flex;
        align-items: center;

        & + & {
          margin-top: 16px;
        }

        .text {
          margin-left: 10px;
          font-size: 16px;
          line-height: 24px;
        }

        .input-radio {

        }
      }
    }
  }

  &__totals {
    max-width: 380px;
    max-height: 526px;
    width: 100%;
    background: #FEF0C2;
    border: 1px solid #FAE9B3;
    border-radius: 5px;
    padding: 30px 30px 40px;
    margin-top: 64px;

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $brown;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(128, 128, 128, .5);
    }

    &-promo {
      padding-top: 20px;
      padding-bottom: 30px;

      &__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
      }

      &__code {
        display: flex;
        padding: 8px 15px;
        background: $white;
        border: 1px solid #E7E7E7;
        border-radius: 6px;

        input {
          border: none;
          outline: none;
          border-right: 1px solid rgba(229, 229, 229, 0.5);
          font-size: 16px;
          line-height: 24px;
          max-width: 320px;
          margin-right: 16px;
        }

        button {
          background-color: transparent;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          color: $brown;
          cursor: pointer;
        }
      }
    }

    &-calculations {
      font-size: 18px;
      line-height: 26px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(128, 128, 128, .5);

      &__row {
        display: flex;
        justify-content: space-between;

        & + & {
          margin-top: 16px;
        }
      }
    }

    &-price {
      padding: 30px 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;

      &__row {
        display: flex;
        justify-content: space-between;
      }
    }

    &-btn {
      background: $orange;
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $white;
      border: none;
      outline: none;
      width: 100%;
      padding: 16px 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 1215px) {
  .checkout__info {
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  .checkout {
    display: block;
    margin: 0 15px;

    &__info {
      margin-right: 0;
    }

    &__totals {
      margin-top: 20px;
      max-width: 780px;

      &-promo__code {
        justify-content: space-between;

        input {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 815px) {
  .checkout__info-contacts__inputs {
    flex-wrap: wrap;
  }

  .checkout__info-contacts__input {

    & + & {
      margin: 15px 0 0 0;
    }
  }

  .checkout__info-order__product {
    img {
      width: 100px;
      height: 100px;
    }

    .info {
      margin-right: 35px;
    }

    .price {
      margin-left: 30px;
    }
  }

  .checkout__info-delivery {
    &__data {
      .inputs {
        flex-wrap: wrap;
        justify-content: center;

        .input {
          margin-bottom: 12px;
        }
      }

      .selects {
        flex-wrap: wrap;
        justify-content: center;

        .select {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (max-width: 755px) {
  .checkout__info-order__product {

    .info {
      margin-right: 15px;
    }

    .price {
      margin-left: 15px;
    }
  }
}

@media (max-width: 525px) {
  .checkout__info-order {
    padding: 20px 15px 10px;


    &__product {
      display: block;
      padding: 20px 0;
      text-align: center;

      .counter {
        display: flex;
        justify-content: center;
      }

      img {
        margin: 0 0 15px 0;
      }

      .info {
        margin: 0 0 15px 0;
        max-width: unset;
      }

      .price {
        margin: 15px 0 0 0;
      }
    }
  }

  .checkout__totals {

  }
}

@media (max-width: 440px) {
  .checkout__info-contacts {
    padding: 15px 20px 20px;

    &__input {
      input {
        width: 240px;
      }
    }
  }

  .checkout__info-delivery__data .title,
  .checkout__info-delivery__title,
  .checkout__info-payment__title {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .checkout__totals-promo__code {
    flex-wrap: wrap;
    justify-content: center;
  }
}