@import "src/styles/vars";

.not-found {
  a {
    display: block;
    width: 100%;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: $orange;
  }
}