@import "src/styles/vars";

.not-found {

  h1 {
    display: block;
    width: 100%;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }

  a {
    display: block;
    width: 100%;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: $orange;
  }
}