@import "src/styles/vars";

.products-slider {
  max-width: 1180px;
  padding-bottom: 100px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: $brown;
    margin-bottom: 20px;
  }

  .slick-next {
    right: 15px;
    top: -52px;
  }

  .slick-prev {
    left: auto;
    right: 55px;
    top: -52px;
  }
}
